#cookies-eu-banner {
    background: #E5E4E2;
    color: #000000;
    padding: 6px;
    font-size: 15px;
    text-align: center;
}
#cookies-eu-more,
#cookies-eu-accept,
#cookies-eu-reject {
    text-decoration: none;
    background: none;
    color: #000000;
    border: 1px solid #000;
    cursor: pointer;
    padding: 4px 7px;
    margin: 2px 0;
    font-size: 13px;
    font-weight: bold;
    transition: background 0.07s, color 0.07s, border-color 0.07s;
    margin-left: 7px;
}
#cookies-eu-more:hover,
#cookies-eu-more:focus,
#cookies-eu-accept:hover,
#cookies-eu-reject:hover,
#cookies-eu-accept:focus {
    background: #fff;
    color: #222;
}
